/* 
GLOBAL STYLES 
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    margin: 0 auto;
    height: 100%;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    max-width: 1500px;
    background-color: #f0f0f0;
}

.calculator {
    max-width: 500px;
    background: #d6d6d6;
    padding: 1rem 1rem 1rem 1rem;
    margin: 2rem 4rem 1rem 4rem;
    border:  #d6d6d6;
    border-radius: 1rem;
}

header {
    margin: 5rem 0 0 0;
}

.result {
    background-color: #f3f1f1;
    border: 1rem solid #f3f1f1;
    border-radius: 0.7rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
    
}

.table {
    display: flex;
    justify-content: center;
}

button {
    background-color: #ecebeb;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1.5rem;
    border: solid #e7e4e4 ;
    border-radius: 0.5rem ;
    
}

.actionButton {
    padding: 0.5rem 2.3rem;
   
    
}
#delButton {
    padding: 0.5rem 0.7rem;
    
}
#cButton {
    padding: 0.5rem 1.4rem;
}
#dotButton {
    padding: 0.5rem 1.67rem;
}


footer {
  background-color: #000f0a;
  color: white;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 5rem auto;
}

footer a {
  color: #c6953d;
}
footer a:hover {
  color: #e09201;
}




/* Responsive: Mobile view */
@media (min-width: 550px) {

h1 {
    font-size: 2rem;
}
.table {
    display: block;
    justify-content: center;
} 
.calculator {
    display: inline-block;
    
}


.result {
    padding: 2rem;
    
}

  button {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1rem 3rem;
}

.actionButton {
    padding: 1rem 4.6rem;
}
#delButton {
    padding: 1rem 1.4rem;   
}
#cButton {
    padding: 1rem 2.8rem;
}
#dotButton {
    padding: 1rem 3.34rem;
}



}

